.vs/*
*/.vs/*
*/x64/*

*.sln
*.vcxproj
*.filters
*.user
GobangCpp/GobangClient/.vs/GobangClient/v17/

*.vsidx

GobangCpp/GobangClient/.vs/GobangClient/FileContentIndex/

GobangCpp/GobangClient/.vs/

GobangCpp/GobangClient/x64/

GobangCpp/GobangProtocol/.vs/

GobangCpp/GobangProtocol/x64/

GobangCpp/GobangServer/.vs/

GobangCpp/GobangServer/x64/
